/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,600,700,700i');


/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }
   /* End of CSS Reset */


/* Main CSS */
html, body {
   	font-family: 'Montserrat', sans-serif;
   	width: 100%;
   	height: 100%;
   	-webkit-font-smoothing: antialiased;
   	font-smoothing: antialiased;
   	background: #fff;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
header {
	position: fixed;
	background: none;
	top: 0;
  	left: 0;
  	right: 0;
	width: 100%;
	min-height: 85px;
	text-align: center;
	padding: 0;
	z-index: 20;
	transition: 0.35s all ease;
}
.nav-wrap {
	width: 960px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
}
.left-nav{
	font-size: 14px;
	width: 395px;
	order: 1;
}
.mid-nav{
	width: 170px;
	order: 2;
}
.right-nav{
	font-size: 14px;
	width: 405px;
	order: 3;
}
ul li > a {
  position: relative;
  color: #fff;
  text-decoration: none;
}
ul li > a:hover {
  color: red;
}
ul li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
ul li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

ul {
	overflow: hidden;
	color: #fff;
	padding: 0;
	margin: 0;
	text-align: center;
	-webkit-transition: max-height 0.4s all ease;
	-ms-transition: max-height 0.4s all ease;
	-moz-transition: max-height 0.4s all ease;
	-o-transition: max-height 0.4s all ease;
	transition: max-height 0.4s all ease;
}
ul li {
	display: inline-block;
	padding: 25px;
	text-transform: uppercase;
}
ul li img {
	vertical-align: middle;
}
/* Menu shrink */
.scrolled {
  min-height: 10px;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.35s all ease;
}
.scrolled ul {
  padding: 1rem 1rem;
  transition: 0.35s all ease;
}
.scrolled li {
  color: white;
  transition: 0.2s all ease-in-out;
}
.logo-handle {
	
	margin: 0 auto;
	text-align: center;
	padding: 15px 10px;
	display: none;
	cursor: pointer;

}
.clear {
	clear: both;
}
/*Responsive Menu*/
@media screen and (max-width: 991px) {
	ul {
		max-height: 0;
		background: rgba(0, 0, 0, 0.8);
	}
	.show {
		max-height: 20em;
		background: rgba(0, 0, 0, 0.8);
	}
	ul li {
		width: 100%;
		padding: 15px;
		text-align: center;
		border-top: 1px solid #453c3d;
	}
	.nav-wrap {
		width: 100%;
		flex-direction: column;
	}
	.left-nav{
		width: 100%;
		clear: both;
		order: 1;
	}
	.mid-nav{
		display: none;
		width: 100%;
		clear: both;
		order: 3;
	}
	.right-nav{
		width: 100%;
		clear: both;
		order: 2;
	}
	.logo-handle {
		margin: 0 auto;
		display: block;
		background: rgba(0, 0, 0, 0.8);		
	}
	header {
		position: absolute;
	}
	.scrolled ul {
		display: none;
	}

}
/* Landing Page CSS */
.lpage {
		height: 100%;
		width: 100%;
		background: url(../images/01.jpg)50% 50%;
		background-repeat: no-repeat;
		display: table;
		background-size: cover;
		min-height: 100vh;
	}
.menu-lpage {
		height: 50%;
		width: 100%;
		background: url(../images/01.jpg)50% 50%;
		background-repeat: no-repeat;
		display: table;
		background-size: cover;
		min-height: 50vh;
	}
.lpage .inner {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		max-width: none;
	}
.menu-lpage .inner {
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		max-width: none;
	}
.lpcontent {
		width: 960px;
		margin: 0 auto;
		text-align: center;
	}
.menu-lpcontent {
		width: 960px;
		margin: 0 auto;
		text-align: center;
	}
.lpcontent h1 {
		font-size: 72px;
		font-weight: 700;
		color: #fff;
		letter-spacing: 0.05em;
		margin-bottom: 20px;
	}
.menu-lpcontent h1 {
		font-size: 72px;
		font-weight: 700;
		color: #fff;
		letter-spacing: 0.05em;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
/*Responsive landing page for desktops*/
@media screen and (max-width: 991px){
	.lpcontent {
		width: 750px;
		margin: 0 auto;
		text-align: center;
	}
	.menu-lpcontent {
		width: 750px;
		margin: 0 auto;
		text-align: center;
	}

	.lpcontent h1 {
		font-size: 52px;
		font-weight: 700;
		color: #fff;
		letter-spacing: 0.05em;
		margin-bottom: 20px;
	}
	.menu-lpcontent h1 {
		font-size: 52px;
		font-weight: 700;
		color: #fff;
		letter-spacing: 0.05em;
		margin-bottom: 20px;
	}
}
/*Responsive landing page for 768px devices*/
@media screen and (max-width: 767px){
	.lpcontent {
		width: 500px;
		margin: 0 auto;
		text-align: center;
	}
	.lpcontent h1 {
		font-size: 42px;
		font-weight: 500;
		color: #fff;
		letter-spacing: 0.05em;
		margin-bottom: 20px;
	}
	.menu-lpcontent h1 {
		font-size: 42px;
		font-weight: 500;
		color: #fff;
		letter-spacing: 0.05em;
		margin-bottom: 20px;
	}
}
/*Responsive landing page for 480px devices*/
@media screen and (max-width: 479px){
	.lpcontent {
		width: 280px;
		margin: 0 auto;
		text-align: center;
	}
	.menu-lpcontent {
		width: 280px;
		margin: 0 auto;
		text-align: center;
	}
	.lpcontent h1 {
		font-size: 32px;
		font-weight: 500;
		color: #fff;
		letter-spacing: 0.05em;
		margin-bottom: 20px;
	}
	.menu-lpcontent h1 {
		font-size: 32px;
		font-weight: 500;
		color: #fff;
		letter-spacing: 0.05em;
		margin-bottom: 20px;
	}
}
.lpcontent .subtitle {
		text-align: center;
		font-size: 24px;
		color: #fff;
		letter-spacing: 0.05em;
		line-height: 1;
		margin-bottom: 50px;
	}
/* Welcome CSS */
.welcome-wrap {
	width: 960px;
	margin: 100px auto;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-around;
}
.welcome-left {

	font-size: 16px;
	color: #686064;
	font-weight: 300;
	text-align: center;
	line-height: 1.5em;
	align-self: flex-start;
	padding-right: 15px;
}
.welcome-left h5 {
	font-size: 0.8em;
	color: #686064;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0 0 5px 0;
	padding: 0;
}
.welcome-left h2 {
	font-size: 1.5em;
	color: #e5282e;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0 0 10px 0;
}

.welcome-right {
	/*background: url(../images/welcome.jpg); 
	background-size: inherit;
	background-position: center;
	background-repeat: no-repeat;*/
	
	height: 400px;
}

/*Responsive welcome section for 991px desktop*/
@media screen and (max-width: 991px) {
	.welcome-wrap {
		display: block;
		width: 550px;
		text-align: center;}
	.welcome-left {
		padding-bottom: 25px;}
	.welcome-right {
	text-align: center;
	/*background: url(../images/welcome.jpg) no-repeat center;*/ 
	height: 250px;}
}
/*Responsive welcome section for 480px desktop*/
@media screen and (max-width: 479px) {
	.welcome-wrap {
		display: block;
		width: 350px;
		text-align: center;
	}
	.welcome-left {
		padding-bottom: 25px;
	}
	.welcome-right {
	text-align: center;
	/*background: url(../images/welcome.jpg) no-repeat center;*/
	height: 250px;
}

}


/* SECTION CONTAINER */
.scetion-container {
	width: 960px;
	margin: 0 auto;
}

.scetion-container-flex {
	display: flex;
	justify-content: space-between;
	width: 960px;
	margin: 15px auto;
}

.menu-item-flex {
	display: flex;
	justify-content: space-between;
}
.menu-item {
	margin: 5px;
	width: 460px;
}
.name {
	font-size: 16px;
	font-weight: 500;
}
.price {
	font-size: 16px;
	font-weight: 500;
}
hr.style {
	border-top: 1px solid #B8B8B8;
	border-bottom: 1px solid #fff;
}
/* SECTIONS */ 
section.element.fixedscroll h5 {
	font-size: 0.8em;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 150px;
	font-weight: 500;
}

.playbtn {
	font-size: 14em;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 180px;
	font-weight: 300;
}
section.element.menuscroll h5 {
	font-size: 0.8em;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 150px;
	font-weight: 500;
}
section.element.fixedscroll h2 {
	font-size: 1.5em;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 20px 0;
	font-weight: 500;
}
section.element.menuscroll h2 {
	font-size: 1.5em;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 20px 0;
	font-weight: 500;
}
section.element.fixedscroll p {
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 10px;
	font-weight: 300;
}
section.element p {
	margin-bottom: 40px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5em;
}
section.element p:last-child {
	margin-bottom: 0;
}
section.element.content {
	margin: 0 auto;
	padding: 40px 0;
	width: 960px;
}

section.element.content h2 {
	font-size: 1.5em;
	color: #e5282e;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	margin: 0 0 40px 0;
}
section.element.menu-content {
	margin: 0 auto;
	padding: 40px 0;
	width: 960px;
}

section.element.menu-content h2 {
	font-size: 1.5em;
	color: #e5282e;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	margin: 0 0 40px 0;
}
section.element.content h5 {
	font-size: 0.8em;
	color: #686064;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	margin: 0 0 5px 0;
	padding: 0;
}
section.element.menu-content h5 {
	font-size: 0.8em;
	color: #686064;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	margin: 0 0 5px 0;
	padding: 0;
}

section.element.fixedscroll {
	height: 600px;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
section.element.menuscroll {
	height: 600px;
	background-position: 50% 50%;	
	background-repeat: no-repeat;
	background-size: cover;
}
section.element.fixedscroll-1 {
	background-image: url("../images/005.jpg");
}
section.element.fixedscroll-2 {
	background-image: url("../images/003.jpg");
}
section.element.menuscroll-1 {
	background-image: url("../images/006.jpg");
}
section.element.menuscroll-2 {
	background-image: url("../images/007.jpg");
}
.menu-bb-wrap {
	width: 960px;
	margin: 40px auto;
	text-align: center;
}
.button {
	 background-color: #e5282e; /* Red */
    border: none;
    color: #fff;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button-highlight {
	background-color: #e5282e; 
    color: #fff; 
    border: 2px solid #e5282e;
    text-decoration: none;
}
.button-highlight:hover {
	background-color: #fff;
    color: #e5282e;
}
.reservation-wrap {
	width: 700px;
	margin: 40px auto;
	display: flex;
	align-items: center;
	align-content: center;
}
.reservation-item-left {
	text-align: center;
	
}
.reservation-item-right {
	width: 350px;
	height: 233px;
	background: #fff;
	font-size: 16px;
	color: #686064;
	font-weight: 300;
	text-align: center;
	line-height: 1.5em;
	align-self: flex-start;
	padding-right: 15px;
}
.reservation-item-right h3 {
	font-size: 1.5em;
	color: #e5282e;
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 25px;
}
.reservation-item-right h4 {
	font-size: 1.5em;
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
	padding-top: 15px;
}
.reservation-item-right h6 {
	font-size: 16px;
	color: #000;
	font-weight: 500;
	padding-top: 15px;
}
@media screen and (max-width: 991px) {
	section.element.fixedscroll h5 {
		padding-top: 40px;
	}
	.reservation-wrap {
		display: block;
		width: 350px;
		margin: 20px auto;
	}
	.reservation-item-left {
	text-align: center;
	width: 350px;
	height: 233px;
	}
	.reservation-item-right {
	text-align: center;
	width: 335px;
	height: 233px;
 	}
}
@media screen and (max-width: 991px) {
	.scetion-container {
		
		width: 480px;
	}
	section.element.content, section.element.menu-content {
		width: 480px;
	}
}
@media screen and (max-width: 479px) {
	.scetion-container {
		
		width: 350px;
	}
	section.element.content, section.element.menu-content {
		width: 350px;
}
	.reservation-wrap {
		margin: 20px auto;
	}
}
@media screen and (max-width: 991px) {
	.scetion-container-flex {
		display: block;
		width: 460px;
	}
	.menu-bb-wrap {
		width: 460px;
	}
}
@media screen and (max-width: 479px) {
	.scetion-container-flex {
		display: block;
		width: 350px;
		margin: 0;
	}
	.menu-item {
	margin: 5px;
	width: 350px;
}
	.menu-bb-wrap {
		width: 300px;
		margin: 25px;
	}
}
/* Sum up Area */
.sumup-container {
	background-color: #f5f5f5;
	height: 250px;
}
.sumup-container-flex {
	display: flex;
	justify-content: space-between;
	width: 960px;
	margin: 100px auto;
	padding-top: 70px; 
	/*border: 1px solid black;*/
	
}
.sumup-item {
	text-align: center;
	margin: 5px;
}
.sumup-item-title {
	font-size: 24px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}
.sumup-item-text {
	font-size: 14px;
	color: #000;
	font-weight: 300;
	line-height: 20px;
}
.sumup-item-social {
	font-size: 24px;
	color: #000;
	font-weight: 300;
	line-height: 20px;
}
@media screen and (max-width: 991px) {
	.sumup-container-flex {
		display: block;
		width: 460px;
	}
	.sumup-container {
		height: 500px;
	}
}
@media screen and (max-width: 479px) {
	.sumup-container-flex {
		display: block;
		width: 350px;
	}
	.sumup-container {
		height: 500px;
	}
}
/*Footer*/
footer.content{
	background-color: #000;
	height: 60px;
	padding-top: 60px;
}
.copyright {
	margin: 0px auto;
	width: 960px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	font-weight: 500;

}
@media screen and (max-width: 991px) {
	.copyright {
		margin: 0 auto;
		width: 460px;
		
	}
}
@media screen and (max-width: 479px) {
	.copyright {
		margin: 0 auto;
		width: 350px;
		
	}
}

